<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="listening">Resume</button>
        <button (click)="pause()" [disabled]="!listening">Pause</button>
        <select [(ngModel)]="selectedView">
            <option value="currentMetrics" selected>Current Metrics</option>
            <option disabled>──────────────────────</option>
            <option value="recvPacketRate">Receiving Packet Rate</option>
            <option value="recvDataRate">Receiving Data Rate</option>
            <option disabled>──────────────────────</option>
            <option value="maxFrameQueueSize">Maximum Frame Queue Size</option>
            <option value="imageAlignmentRate">Image Alignment Rate</option>
            <option value="lateArrivingRate">Late Arriving Rate</option>
            <option value="partialImageRate">Partial Image Rate</option>
            <option disabled>──────────────────────</option>
            <option value="imagePushLossRate">Image Push Loss Rate</option>
            <option value="imageTakingRate">Image Taking Rate</option>
            <option value="imageSendingRate">Image Sending Rate</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">Update Time: {{ updateTime | date: "yyyy-MM-dd, HH:mm:ss" }}</p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="card-group" *ngSwitchCase="'currentMetrics'">
        <app-metrics-card
            *ngFor="let idx of metrics_Indexes"
            [title]="metrics_DataArr[idx][0]"
            [data]="metrics_DataArr[idx][1]"
        ></app-metrics-card>
    </div>
    <div class="card-group" *ngSwitchCase="'recvPacketRate'">
        <app-time-line-chart
            *ngFor="let idx of recvPacketRate_Indexes"
            [title]="recvPacketRate_DataArr[idx][0]"
            [yLabel]="recvPacketRate_Unit"
            [data]="recvPacketRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'recvDataRate'">
        <app-time-line-chart
            *ngFor="let idx of recvDataRate_Indexes"
            [title]="recvDataRate_DataArr[idx][0]"
            [yLabel]="recvDataRate_Unit"
            [data]="recvDataRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'maxFrameQueueSize'">
        <app-time-line-chart
            *ngFor="let idx of maxFrameQueueSize_Indexes"
            [title]="maxFrameQueueSize_DataArr[idx][0]"
            [yLabel]="maxFrameQueueSize_Unit"
            [data]="maxFrameQueueSize_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'imageAlignmentRate'">
        <app-time-line-chart
            *ngFor="let idx of imageAlignmentRate_Indexes"
            [title]="imageAlignmentRate_DataArr[idx][0]"
            [yLabel]="imageAlignmentRate_Unit"
            [data]="imageAlignmentRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'lateArrivingRate'">
        <app-time-line-chart
            *ngFor="let idx of lateArrivingRate_Indexes"
            [title]="lateArrivingRate_DataArr[idx][0]"
            [yLabel]="lateArrivingRate_Unit"
            [data]="lateArrivingRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'partialImageRate'">
        <app-time-line-chart
            *ngFor="let idx of partialImageRate_Indexes"
            [title]="partialImageRate_DataArr[idx][0]"
            [yLabel]="partialImageRate_Unit"
            [data]="partialImageRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'imagePushLossRate'">
        <app-time-line-chart
            *ngFor="let idx of imagePushLossRate_Indexes"
            [title]="imagePushLossRate_DataArr[idx][0]"
            [yLabel]="imagePushLossRate_Unit"
            [data]="imagePushLossRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'imageTakingRate'">
        <app-time-line-chart
            *ngFor="let idx of imageTakingRate_Indexes"
            [title]="imageTakingRate_DataArr[idx][0]"
            [yLabel]="imageTakingRate_Unit"
            [data]="imageTakingRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'imageSendingRate'">
        <app-time-line-chart
            *ngFor="let idx of imageSendingRate_Indexes"
            [title]="imageSendingRate_DataArr[idx][0]"
            [yLabel]="imageSendingRate_Unit"
            [data]="imageSendingRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
</div>
