<div class="main">
    <h1>About</h1>
    <p>
        DiffraFlow (<strong>Diffra</strong>ction Image Data <strong>Flow</strong>) is a distributed software developed
        for the extremely high volume data acquisition and online analysis of pixel array detectors that are typically
        used with the X-ray Free Electron Laser (XFEL) facility. This software is designed to have good horizontal
        scaling capability that can run on tens of computer nodes to handle the data stream of up to 100 GiB/s from
        pixel array detectors. There are several different components in this software, they are <i>dispatcher</i>,
        <i>combiner</i>, <i>ingester</i>, <i>monitor</i>, <i>controller</i> and <i>aggregator</i>. And they are
        responsible for different tasks including data receving, online event-building, calibration, deep event
        filtering, data saving, quasi-realtime analysis for fast feedback, runtime parameters adjustment and system
        working status monitoring.
    </p>
    <p>This dashbord</p>
    <img src="assets/images/data-flow-for-dashboard.png" />
</div>
