:host {
    width: 100%;
    display: block;
}

div.image-container {
    background-color: lightcyan;
    width: 580px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gainsboro;
}

canvas.data {
    overflow: hidden;
    margin: 10px;
    margin-right: 3px;
    background-color: white;
    max-height: 97%;
    max-width: 85%;
    // border: 1px solid black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

canvas.color {
    overflow: hidden;
    margin: 10px;
    margin-left: 3px;
    background-color: white;
    max-height: 97%;
    max-width: 12%;
    // border: 1px solid black;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
