:host {
    width: 100%;
    display: block;
}

div.image-container {
    background-color: lightgreen;
    width: 580px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

canvas.data {
    overflow: hidden;
    margin: 10px;
    margin-right: 3px;
    background-color: white;
    max-height: 97%;
    max-width: 85%;
    border: 1px solid black;
}

canvas.color {
    overflow: hidden;
    margin: 10px;
    margin-left: 3px;
    background-color: white;
    max-height: 97%;
    max-width: 12%;
    border: 1px solid black;
}
