<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="metricsSubscription">Resume</button>
        <button (click)="pause()" [disabled]="!metricsSubscription">Pause</button>
        <select (change)="selectedView = $event.target.value">
            <option value="currentMetrics" selected>Current Metrics</option>
            <option value="dataRate">Date Rate History</option>
            <option value="packetRate">Packet Rate History</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">
        Update Time: {{ updateTime.toLocaleString("en-US", { hour12: false }) }}
    </p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="graph-group" *ngSwitchCase="'currentMetrics'">
        <div *ngIf="metricsObject">
            <ngx-json-viewer [json]="metricsObject"></ngx-json-viewer>
        </div>
    </div>
    <div class="graph-group" *ngSwitchCase="'dataRate'">
        <app-time-line-chart
            *ngFor="let idx of dataRateIndexes"
            [title]="dataRateDataArr[idx][0]"
            [data]="dataRateDataArr[idx][1]"
            [yLabel]="dataRateUnit"
        >
        </app-time-line-chart>
    </div>
    <div *ngSwitchDefault>
        <p>default</p>
    </div>
</div>
