<div class="head-wrapper">header</div>
<div class="body-wrapper">
    <div class="graph-group">
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
    </div>
</div>
