<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="metricsSubscription">resume</button>
        <button (click)="pause()" [disabled]="!metricsSubscription">pause</button>
    </div>
    <p *ngIf="updateTime" class="update-time">
        Update Time: {{ updateTime.toLocaleString("en-US", { hour12: false }) }}
    </p>
</div>
<div class="body-wrapper">
    <div class="graph-group">
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
        <app-time-line-chart [data]="dataset" title="demo line" yLabel="Rate"> </app-time-line-chart>
    </div>
</div>
