<div class="left-nav">
    <h2>Metrics</h2>
    <hr />
    <nav>
        <ul>
            <li><a routerLink="overview" routerLinkActive="active">overview</a></li>
            <li><a routerLink="sender" routerLinkActive="active">sender</a></li>
            <li><a routerLink="dispatcher" routerLinkActive="active">dispatcher</a></li>
            <li><a routerLink="combiner" routerLinkActive="active">combiner</a></li>
            <li><a routerLink="ingester" routerLinkActive="active">ingester</a></li>
            <li><a routerLink="monitor" routerLinkActive="active">monitor</a></li>
            <li><a routerLink="controller" routerLinkActive="active">controller</a></li>
        </ul>
    </nav>
</div>
<div class="right-content">
    <router-outlet></router-outlet>
</div>
