<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="listening">Resume</button>
        <button (click)="pause()" [disabled]="!listening">Pause</button>
        <select [(ngModel)]="selectedView">
            <option value="currentMetrics" selected>Current Metrics</option>
            <option disabled>──────────────────────</option>
            <option value="imageRequestRate">Image Request Rate</option>
            <option value="imageSendRate">Image Send Rate</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">Update Time: {{ updateTime | date: "yyyy-MM-dd, HH:mm:ss" }}</p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="card-group" *ngSwitchCase="'currentMetrics'">
        <app-metrics-card
            *ngFor="let idx of metrics_Indexes"
            [title]="metrics_DataArr[idx][0]"
            [data]="metrics_DataArr[idx][1]"
        ></app-metrics-card>
    </div>
    <div class="card-group" *ngSwitchCase="'imageRequestRate'">
        <app-time-line-chart
            *ngFor="let idx of imageRequestRate_Indexes"
            [title]="imageRequestRate_DataArr[idx][0]"
            [yLabel]="imageRequestRate_Unit"
            [data]="imageRequestRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'imageSendRate'">
        <app-time-line-chart
            *ngFor="let idx of imageSendRate_Indexes"
            [title]="imageSendRate_DataArr[idx][0]"
            [yLabel]="imageSendRate_Unit"
            [data]="imageSendRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
</div>
