<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="listening">Resume</button>
        <button (click)="pause()" [disabled]="!listening">Pause</button>
        <select (change)="selectedView = $event.target.value">
            <option value="summaryTable" selected>Summary Table</option>
            <option value="historyLine">History Line</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">Update Time: {{ updateTime | date: "yyyy-MM-dd, HH:mm:ss" }}</p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="card-group" *ngSwitchCase="'summaryTable'">
        <div class="table">
            <table>
                <tr>
                    <th class="col-1">Parameters</th>
                    <th class="col-2">Total</th>
                    <th class="col-3">Rate</th>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">Receiving TCP Packet</td>
                    <td class="col-2">{{ tcpRecvPacketCount / 1000 | number }} k</td>
                    <td class="col-3">{{ tcpRecvPacketRate_Last / 1000 | number }} kpps</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">Receiving TCP Data</td>
                    <td class="col-2">{{ tcpRecvDataSize / 1024 / 1024 / 1024 | number }} GiB</td>
                    <td class="col-3">{{ tcpRecvDataRate_Last / 1024 | number }} GiB/s</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">Receiving UDP Packet</td>
                    <td class="col-2">{{ udpRecvPacketCount / 1000 | number }} k</td>
                    <td class="col-3">{{ udpRecvPacketRate_Last / 1000 | number }} kpps</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">Receiving UDP Data</td>
                    <td class="col-2">{{ udpRecvDataSize / 1024 / 1024 / 1024 | number }} GiB</td>
                    <td class="col-3">{{ udpRecvDataRate_Last / 1024 | number }} GiB/s</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">Receiving UDP Frame (Checked)</td>
                    <td class="col-2">{{ udpFrameCountChecked / 1000 | number }} k</td>
                    <td class="col-3">{{ udpFrameRateChecked_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">Receiving UDP Frame (All)</td>
                    <td class="col-2">{{ udpFrameCountAll / 1000 | number }} k</td>
                    <td class="col-3">{{ udpFrameRateAll_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">Image Alignment (Event Build)</td>
                    <td class="col-2">{{ imageAlignmentCount / 1000 | number }} k</td>
                    <td class="col-3">{{ imageAlignmentRate_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">Partial Image</td>
                    <td class="col-2">{{ partialImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ partialImageRate_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">Late Arrived Image</td>
                    <td class="col-2">{{ lateArrivingCount / 1000 | number }} k</td>
                    <td class="col-3">{{ lateArrivingRate_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">Maximum Frame Queue Size</td>
                    <td class="col-2">{{ maxFrameQueueSize | number }}</td>
                    <td class="col-3">-</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">Processed Image</td>
                    <td class="col-2">{{ processedImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ processedImageRate_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">Monitoring Image</td>
                    <td class="col-2">{{ monitoringImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ monitoringImageRate_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">Saving Image</td>
                    <td class="col-2">{{ savingImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ savingImageRate_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">Saved Image</td>
                    <td class="col-2">{{ savedImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ savedImageRate_Last / 1000 | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">Requested Image</td>
                    <td class="col-2">{{ imageRequestCount | number }}</td>
                    <td class="col-3">{{ imageRequestRate_Last | number }}</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">Sent Image</td>
                    <td class="col-2">{{ imageSendCount | number }}</td>
                    <td class="col-3">{{ imageSendRate_Last | number }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-group" *ngSwitchCase="'historyLine'">
        <app-time-line-chart
            title="Receiving TCP Packet"
            [data]="tcpRecvPacketRate_Data"
            [yLabel]="tcpRecvPacketRate_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart title="Receiving TCP Data" [data]="tcpRecvDataRate_Data" [yLabel]="tcpRecvDataRate_Unit">
        </app-time-line-chart>
        <app-time-line-chart
            title="Receiving UDP Packet"
            [data]="udpRecvPacketRate_Data"
            [yLabel]="udpRecvPacketRate_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart title="Receiving UDP Data" [data]="udpRecvDataRate_Data" [yLabel]="udpRecvDataRate_Unit">
        </app-time-line-chart>
        <app-time-line-chart
            title="Receiving UDP Frame (Checked)"
            [data]="udpFrameRateChecked_Data"
            [yLabel]="udpFrameRateChecked_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart
            title="Receiving UDP Frame (All)"
            [data]="udpFrameRateAll_Data"
            [yLabel]="udpFrameRateAll_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart
            title="Image Alignment (Event Build)"
            [data]="imageAlignmentRate_Data"
            [yLabel]="imageAlignmentRate_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart title="Partial Image" [data]="partialImageRate_Data" [yLabel]="partialImageRate_Unit">
        </app-time-line-chart>
        <app-time-line-chart title="Late Arrived Image" [data]="lateArrivingRate_Data" [yLabel]="lateArrivingRate_Unit">
        </app-time-line-chart>
        <app-time-line-chart
            title="Maximum Frame Queue Size"
            [data]="maxFrameQueueSize_Data"
            [yLabel]="maxFrameQueueSize_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart
            title="Processed Image"
            [data]="processedImageRate_Data"
            [yLabel]="processedImageRate_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart
            title="Monitoring Image"
            [data]="monitoringImageRate_Data"
            [yLabel]="monitoringImageRate_Unit"
        >
        </app-time-line-chart>
        <app-time-line-chart title="Saving Image" [data]="savingImageRate_Data" [yLabel]="savingImageRate_Unit">
        </app-time-line-chart>
        <app-time-line-chart title="Saved Image" [data]="savedImageRate_Data" [yLabel]="savedImageRate_Unit">
        </app-time-line-chart>
        <app-time-line-chart title="Requested Image" [data]="imageRequestRate_Data" [yLabel]="imageRequestRate_Unit">
        </app-time-line-chart>
        <app-time-line-chart title="Sent Image" [data]="imageSendRate_Data" [yLabel]="imageSendRate_Unit">
        </app-time-line-chart>
    </div>
</div>
