<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="listening">Resume</button>
        <button (click)="pause()" [disabled]="!listening">Pause</button>
        <select [(ngModel)]="selectedView">
            <option value="summaryTable" selected>Summary Table</option>
            <option value="historyLine">History Line</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">Update Time: {{ updateTime | date: "yyyy-MM-dd, HH:mm:ss" }}</p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="card-group" *ngSwitchCase="'summaryTable'">
        <div class="table">
            <table>
                <tr>
                    <th class="col-1">Parameters</th>
                    <th class="col-2">Total</th>
                    <th class="col-3">Rate</th>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">{{ tcpRecvPacketTitle }}</td>
                    <td class="col-2">{{ tcpRecvPacketCount / 1000 | number }} k</td>
                    <td class="col-3">{{ tcpRecvPacketRate_Last | number }} kpps</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">{{ tcpRecvDataTitle }}</td>
                    <td class="col-2">{{ tcpRecvDataSize / 1024 / 1024 / 1024 | number }} GiB</td>
                    <td class="col-3">{{ tcpRecvDataRate_Last | number }} GiB/s</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">{{ udpRecvPacketTitle }}</td>
                    <td class="col-2">{{ udpRecvPacketCount / 1000 | number }} k</td>
                    <td class="col-3">{{ udpRecvPacketRate_Last | number }} kpps</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">{{ udpRecvDataTitle }}</td>
                    <td class="col-2">{{ udpRecvDataSize / 1024 / 1024 / 1024 | number }} GiB</td>
                    <td class="col-3">{{ udpRecvDataRate_Last | number }} GiB/s</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">{{ udpFrameTitleChecked }}</td>
                    <td class="col-2">{{ udpFrameCountChecked / 1000 | number }} k</td>
                    <td class="col-3">{{ udpFrameRateChecked_Last | number }} kfps</td>
                </tr>
                <tr class="dispatcher">
                    <td class="col-1">{{ udpFrameTitleAll }}</td>
                    <td class="col-2">{{ udpFrameCountAll / 1000 | number }} k</td>
                    <td class="col-3">{{ udpFrameRateAll_Last | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">{{ imageAlignmentTitle }}</td>
                    <td class="col-2">{{ imageAlignmentCount / 1000 | number }} k</td>
                    <td class="col-3">{{ imageAlignmentRate_Last | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">{{ partialImageTitle }}</td>
                    <td class="col-2">{{ partialImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ partialImageRate_Last | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">{{ lateArrivingTitle }}</td>
                    <td class="col-2">{{ lateArrivingCount / 1000 | number }} k</td>
                    <td class="col-3">{{ lateArrivingRate_Last | number }} kfps</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">{{ maxFrameQueueSizeTitle }}</td>
                    <td class="col-2">{{ maxFrameQueueSize | number }}</td>
                    <td class="col-3">-</td>
                </tr>
                <tr class="combiner">
                    <td class="col-1">{{ imagePushLossTitle }}</td>
                    <td class="col-2">{{ imagePushLossCount / 1000 | number }} k</td>
                    <td class="col-3">{{ imagePushLossRate_Last | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">{{ processedImageTitle }}</td>
                    <td class="col-2">{{ processedImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ processedImageRate_Last | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">{{ monitoringImageTitle }}</td>
                    <td class="col-2">{{ monitoringImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ monitoringImageRate_Last | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">{{ savingImageTitle }}</td>
                    <td class="col-2">{{ savingImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ savingImageRate_Last | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">{{ savingImageLossTitle }}</td>
                    <td class="col-2">{{ savingImageLossCount / 1000 | number }} k</td>
                    <td class="col-3">{{ savingImageLossRate_Last | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">{{ savedImageTitle }}</td>
                    <td class="col-2">{{ savedImageCount / 1000 | number }} k</td>
                    <td class="col-3">{{ savedImageRate_Last | number }} kfps</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">{{ imageRequestTitle }}</td>
                    <td class="col-2">{{ imageRequestCount | number }}</td>
                    <td class="col-3">{{ imageRequestRate_Last | number }}</td>
                </tr>
                <tr class="ingester">
                    <td class="col-1">{{ imageSendTitle }}</td>
                    <td class="col-2">{{ imageSendCount | number }}</td>
                    <td class="col-3">{{ imageSendRate_Last | number }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-group" *ngSwitchCase="'historyLine'">
        <app-time-line-chart
            [title]="tcpRecvPacketTitle"
            [yLabel]="tcpRecvPacketRate_Unit"
            [data]="tcpRecvPacketRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart [title]="tcpRecvDataTitle" [yLabel]="tcpRecvDataRate_Unit" [data]="tcpRecvDataRate_Data">
        </app-time-line-chart>
        <app-time-line-chart
            [title]="udpRecvPacketTitle"
            [yLabel]="udpRecvPacketRate_Unit"
            [data]="udpRecvPacketRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart [title]="udpRecvDataTitle" [yLabel]="udpRecvDataRate_Unit" [data]="udpRecvDataRate_Data">
        </app-time-line-chart>
        <app-time-line-chart
            [title]="udpFrameTitleChecked"
            [yLabel]="udpFrameRateChecked_Unit"
            [data]="udpFrameRateChecked_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart [title]="udpFrameTitleAll" [yLabel]="udpFrameRateAll_Unit" [data]="udpFrameRateAll_Data">
        </app-time-line-chart>
        <app-time-line-chart
            [title]="imageAlignmentTitle"
            [yLabel]="imageAlignmentRate_Unit"
            [data]="imageAlignmentRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart
            [title]="partialImageTitle"
            [yLabel]="partialImageRate_Unit"
            [data]="partialImageRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart
            [title]="lateArrivingTitle"
            [yLabel]="lateArrivingRate_Unit"
            [data]="lateArrivingRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart
            [title]="maxFrameQueueSizeTitle"
            [yLabel]="maxFrameQueueSize_Unit"
            [data]="maxFrameQueueSize_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart
            [title]="imagePushLossTitle"
            [yLabel]="imagePushLossRate_Unit"
            [data]="imagePushLossRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart
            [title]="processedImageTitle"
            [yLabel]="processedImageRate_Unit"
            [data]="processedImageRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart
            [title]="monitoringImageTitle"
            [yLabel]="monitoringImageRate_Unit"
            [data]="monitoringImageRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart [title]="savingImageTitle" [yLabel]="savingImageRate_Unit" [data]="savingImageRate_Data">
        </app-time-line-chart>
        <app-time-line-chart
            [title]="savingImageLossTitle"
            [yLabel]="savingImageLossRate_Unit"
            [data]="savingImageLossRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart [title]="savedImageTitle" [yLabel]="savedImageRate_Unit" [data]="savedImageRate_Data">
        </app-time-line-chart>
        <app-time-line-chart
            [title]="imageRequestTitle"
            [yLabel]="imageRequestRate_Unit"
            [data]="imageRequestRate_Data"
        >
        </app-time-line-chart>
        <app-time-line-chart [title]="imageSendTitle" [yLabel]="imageSendRate_Unit" [data]="imageSendRate_Data">
        </app-time-line-chart>
    </div>
</div>
