<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="listening">Resume</button>
        <button (click)="pause()" [disabled]="!listening">Pause</button>
        <select (change)="selectedView = $event.target.value">
            <option value="currentMetrics" selected>Current Metrics</option>
            <option disabled>──────────────────────</option>
            <option value="tcpPacketRate">Receiving TCP Packet Rate</option>
            <option value="tcpDataRate">Receiving TCP Data Rate</option>
            <option disabled>──────────────────────</option>
            <option value="udpPacketRate">Receiving UDP Packet Rate</option>
            <option value="udpDataRate">Receiving UDP Data Rate</option>
            <option value="udpFrameRateChecked">Receiving UDP Frame Rate (checked)</option>
            <option value="udpFrameRateAll">Receiving UDP Frame Rate (all)</option>
            <option disabled>──────────────────────</option>
            <option value="sendPacketRate">Sending Packet Rate</option>
            <option value="sendDataRate">Sending Data Rate</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">Update Time: {{ updateTime | date: "yyyy-MM-dd, HH:mm:ss" }}</p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="card-group" *ngSwitchCase="'currentMetrics'">
        <app-metrics-card
            *ngFor="let idx of metrics_Indexes"
            [title]="metrics_DataArr[idx][0]"
            [data]="metrics_DataArr[idx][1]"
        ></app-metrics-card>
    </div>
    <div class="card-group" *ngSwitchCase="'tcpPacketRate'">
        <app-time-line-chart
            *ngFor="let idx of tcpPacketRate_Indexes"
            [title]="tcpPacketRate_DataArr[idx][0]"
            [yLabel]="tcpPacketRate_Unit"
            [data]="tcpPacketRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'tcpDataRate'">
        <app-time-line-chart
            *ngFor="let idx of tcpDataRate_Indexes"
            [title]="tcpDataRate_DataArr[idx][0]"
            [yLabel]="tcpDataRate_Unit"
            [data]="tcpDataRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpPacketRate'">
        <app-time-line-chart
            *ngFor="let idx of udpPacketRate_Indexes"
            [title]="udpPacketRate_DataArr[idx][0]"
            [yLabel]="udpPacketRate_Unit"
            [data]="udpPacketRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpDataRate'">
        <app-time-line-chart
            *ngFor="let idx of udpDataRate_Indexes"
            [title]="udpDataRate_DataArr[idx][0]"
            [yLabel]="udpDataRate_Unit"
            [data]="udpDataRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpFrameRateChecked'">
        <app-time-line-chart
            *ngFor="let idx of udpFrameRateChecked_Indexes"
            [title]="udpFrameRateChecked_DataArr[idx][0]"
            [yLabel]="udpFrameRateChecked_Unit"
            [data]="udpFrameRateChecked_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpFrameRateAll'">
        <app-time-line-chart
            *ngFor="let idx of udpFrameRateAll_Indexes"
            [title]="udpFrameRateAll_DataArr[idx][0]"
            [yLabel]="udpFrameRateAll_Unit"
            [data]="udpFrameRateAll_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'sendPacketRate'">
        <app-time-line-chart
            *ngFor="let idx of sendPacketRate_Indexes"
            [title]="sendPacketRate_DataArr[idx][0]"
            [yLabel]="sendPacketRate_Unit"
            [data]="sendPacketRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'sendDataRate'">
        <app-time-line-chart
            *ngFor="let idx of sendDataRate_Indexes"
            [title]="sendDataRate_DataArr[idx][0]"
            [yLabel]="sendDataRate_Unit"
            [data]="sendDataRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
</div>
