<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="metricsSubscription">Resume</button>
        <button (click)="pause()" [disabled]="!metricsSubscription">Pause</button>
        <select (change)="selectedView = $event.target.value">
            <option value="currentMetrics" selected>Current Metrics</option>
            <option value="tcpPacketRate">Receiving TCP Packet Rate</option>
            <option value="tcpDataRate">Receiving TCP Data Rate</option>
            <option value="udpPacketRate">Receiving UDP Packet Rate</option>
            <option value="udpDataRate">Receiving UDP Data Rate</option>
            <option value="udpFrameRateChecked">Receiving UDP Frame Rate (checked)</option>
            <option value="udpFrameRateAll">Receiving UDP Frame Rate (all)</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">
        Update Time: {{ updateTime.toLocaleString("en-US", { hour12: false }) }}
    </p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="card-group" *ngSwitchCase="'currentMetrics'">
        <app-metrics-card
            *ngFor="let idx of metrics_Indexes"
            [title]="metrics_DataArr[idx][0]"
            [data]="metrics_DataArr[idx][1]"
        ></app-metrics-card>
    </div>
    <div class="card-group" *ngSwitchCase="'tcpPacketRate'">
        <app-time-line-chart
            *ngFor="let idx of tcpPacketRate_Indexes"
            [title]="tcpPacketRate_DataArr[idx][0]"
            [data]="tcpPacketRate_DataArr[idx][1]"
            [yLabel]="tcpPacketRate_Unit"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'tcpDataRate'">
        <app-time-line-chart
            *ngFor="let idx of tcpDataRate_Indexes"
            [title]="tcpDataRate_DataArr[idx][0]"
            [data]="tcpDataRate_DataArr[idx][1]"
            [yLabel]="tcpDataRate_Unit"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpPacketRate'">
        <app-time-line-chart
            *ngFor="let idx of udpPacketRate_Indexes"
            [title]="udpPacketRate_DataArr[idx][0]"
            [data]="udpPacketRate_DataArr[idx][1]"
            [yLabel]="udpPacketRate_Unit"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpDataRate'">
        <app-time-line-chart
            *ngFor="let idx of udpDataRate_Indexes"
            [title]="udpDataRate_DataArr[idx][0]"
            [data]="udpDataRate_DataArr[idx][1]"
            [yLabel]="udpDataRate_Unit"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpFrameRateChecked'">
        <app-time-line-chart
            *ngFor="let idx of udpFrameRateChecked_Indexes"
            [title]="udpFrameRateChecked_DataArr[idx][0]"
            [data]="udpFrameRateChecked_DataArr[idx][1]"
            [yLabel]="udpFrameRateChecked_Unit"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'udpFrameRateAll'">
        <app-time-line-chart
            *ngFor="let idx of udpFrameRateAll_Indexes"
            [title]="udpFrameRateAll_DataArr[idx][0]"
            [data]="udpFrameRateAll_DataArr[idx][1]"
            [yLabel]="udpFrameRateAll_Unit"
        >
        </app-time-line-chart>
    </div>
</div>
