<div class="monitor">
    <div class="image">
        <app-image-card [energyRange]="imageEnergyRange" [imageData]="imageData"> </app-image-card>
    </div>
    <div class="metadata">
        <div class="control">
            <div class="button-group">
                <button class="start" (click)="imageFetcherStart()">Start</button>
                <button class="stop" (click)="imageFetcherStop()">Stop</button>
            </div>
            <label class="interval"
                >Interval Time:
                <input class="interval" [(ngModel)]="intervalTime" [disabled]="runningFlag" />
                ms
            </label>
            <label *ngIf="runningFlag; else statusStopped" class="status running"> RUNNING </label>
            <ng-template #statusStopped>
                <label class="status stopped">STOPPED</label>
            </ng-template>
        </div>
        <div class="analysis">
            <p>analysis results</p>
        </div>
    </div>
</div>
<div class="parameters">runtime parameters</div>
