<div class="monitor">
    <div class="header">
        <label>Current aligned full image and related analysis results</label>
    </div>
    <div class="row-container">
        <div class="image">
            <app-image-card [energyRange]="imageEnergyRange" [imageData]="imageData"> </app-image-card>
        </div>
        <div class="metadata">
            <div class="control">
                <div class="button-group">
                    <button class="start" (click)="imageFetcherStart()" [disabled]="runningFlag">Start</button>
                    <button class="stop" (click)="imageFetcherStop()" [disabled]="!runningFlag">Stop</button>
                </div>
                <label class="interval"
                    >Interval Time:
                    <input class="interval" [(ngModel)]="intervalTime" [disabled]="runningFlag" />
                    ms
                </label>
                <label *ngIf="runningFlag; else statusStopped" class="status running"> RUNNING </label>
                <ng-template #statusStopped>
                    <label class="status stopped">STOPPED</label>
                </ng-template>
            </div>
            <div class="image-meta">
                <table>
                    <tr>
                        <th class="col1">Update Time</th>
                        <td class="col2">
                            <ng-container *ngIf="updateTime">
                                {{ updateTime | date: "yyyy-MM-dd, HH:mm:ss.SSS" }}
                            </ng-container>
                        </td>
                        <th class="col3">Bunch ID</th>
                        <td class="col4">
                            <ng-container *ngIf="imageMeta">
                                {{ imageMeta.bunch_id }}
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th class="col1">Calibration Level</th>
                        <td class="col2">
                            <ng-container *ngIf="imageMeta">
                                {{ imageMeta.calib_level }}
                            </ng-container>
                        </td>
                        <th class="col3">Late Arrived</th>
                        <td class="col4">
                            <ng-container *ngIf="imageMeta">
                                {{ imageMeta.late_arrived }}
                            </ng-container>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="analysis">
                <div class="feature">
                    <label>Image Features</label>
                    <div class="scroll-wrapper">
                        <div class="json-card">
                            <ngx-json-viewer [json]="imageFeature"></ngx-json-viewer>
                        </div>
                    </div>
                </div>
                <div class="results">
                    <label>Analysis Results</label>
                    <div class="scroll-wrapper">
                        <div class="json-card">
                            <ngx-json-viewer [json]="analysisResult"></ngx-json-viewer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parameters">
    <div class="header">
        <label>Runtime parameters of ingester and monitor</label>
    </div>
    <div class="row-container">
        <div class="left">
            <div class="top">
                <label class="name">INGESTER</label>
                <div class="button">
                    <button class="top">Sync</button>
                    <button class="top">Update All</button>
                </div>
                <label class="status">status</label>
            </div>
            <div class="down">
                <table>
                    <tr>
                        <th>parameters</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <label>MONITOR</label>
            </div>
            <div class="down">
                <table>
                    <tr>
                        <th>parameters</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
