<div class="head-wrapper">
    <div class="button-group">
        <button (click)="resume()" [disabled]="listening">Resume</button>
        <button (click)="pause()" [disabled]="!listening">Pause</button>
        <select (change)="selectedView = $event.target.value">
            <option value="currentMetrics" selected>Current Metrics</option>
            <option disabled>──────────────────────</option>
            <option value="recvImageRate">Receiving Image Rate</option>
            <option value="recvDataRate">Receiving Data Rate</option>
            <option disabled>──────────────────────</option>
            <option value="processedImageRate">Processed Image Rate</option>
            <option value="monitoringImageRate">Monitoring Image Rate</option>
            <option value="savingImageRate">Saving Image Rate</option>
            <option disabled>──────────────────────</option>
            <option value="savedImageRate">Saved Image Rate</option>
            <option disabled>──────────────────────</option>
            <option value="imageRequestRate">Image Request Rate</option>
            <option value="imageSendRate">Image Send Rate</option>
        </select>
    </div>
    <p *ngIf="updateTime" class="update-time">Update Time: {{ updateTime | date: "yyyy-MM-dd, HH:mm:ss" }}</p>
</div>
<div class="body-wrapper" [ngSwitch]="selectedView">
    <div class="card-group" *ngSwitchCase="'currentMetrics'">
        <app-metrics-card
            *ngFor="let idx of metrics_Indexes"
            [title]="metrics_DataArr[idx][0]"
            [data]="metrics_DataArr[idx][1]"
        ></app-metrics-card>
    </div>
    <div class="card-group" *ngSwitchCase="'recvImageRate'">
        <app-time-line-chart
            *ngFor="let idx of recvImageRate_Indexes"
            [title]="recvImageRate_DataArr[idx][0]"
            [yLabel]="recvImageRate_Unit"
            [data]="recvImageRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'recvDataRate'">
        <app-time-line-chart
            *ngFor="let idx of recvDataRate_Indexes"
            [title]="recvDataRate_DataArr[idx][0]"
            [yLabel]="recvDataRate_Unit"
            [data]="recvDataRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'processedImageRate'">
        <app-time-line-chart
            *ngFor="let idx of processedImageRate_Indexes"
            [title]="processedImageRate_DataArr[idx][0]"
            [yLabel]="processedImageRate_Unit"
            [data]="processedImageRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'monitoringImageRate'">
        <app-time-line-chart
            *ngFor="let idx of monitoringImageRate_Indexes"
            [title]="monitoringImageRate_DataArr[idx][0]"
            [yLabel]="monitoringImageRate_Unit"
            [data]="monitoringImageRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'savingImageRate'">
        <app-time-line-chart
            *ngFor="let idx of savingImageRate_Indexes"
            [title]="savingImageRate_DataArr[idx][0]"
            [yLabel]="savingImageRate_Unit"
            [data]="savingImageRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'savedImageRate'">
        <app-time-line-chart
            *ngFor="let idx of savedImageRate_Indexes"
            [title]="savedImageRate_DataArr[idx][0]"
            [yLabel]="savedImageRate_Unit"
            [data]="savedImageRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'imageRequestRate'">
        <app-time-line-chart
            *ngFor="let idx of imageRequestRate_Indexes"
            [title]="imageRequestRate_DataArr[idx][0]"
            [yLabel]="imageRequestRate_Unit"
            [data]="imageRequestRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
    <div class="card-group" *ngSwitchCase="'imageSendRate'">
        <app-time-line-chart
            *ngFor="let idx of imageSendRate_Indexes"
            [title]="imageSendRate_DataArr[idx][0]"
            [yLabel]="imageSendRate_Unit"
            [data]="imageSendRate_DataArr[idx][1]"
        >
        </app-time-line-chart>
    </div>
</div>
